body{
margin:0;
font-family:'Montserrat',sans-serif;
overflow:hidden;
}

.app{
max-width:420px;
margin:auto;
background:white;
position:relative;
overflow-x:hidden;
}

#intro{
background-image:url("fondoflorcitas.jpg");
background-size:cover;
background-position:center;
display:flex;
justify-content:center;
align-items:center;
transition:opacity .4s ease, transform .4s ease;
}

#intro.ocultar{
opacity:0;
transform:scale(.9);
}

.envelope-container{position:relative;}
.envelope{width:320px;filter:drop-shadow(0 20px 30px rgba(0,0,0,.4));}

.seal{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
cursor:pointer;
animation:latido 1.2s infinite;
}

.seal-img{width:200px;}

@keyframes latido{
0%{transform:translate(-50%,-50%) scale(1)}
50%{transform:translate(-50%,-50%) scale(1.2)}
100%{transform:translate(-50%,-50%) scale(1)}
}

#hoja1,#hoja2,#hoja3,#hoja4,#hoja5,#hoja6,#hoja7,#hoja8,#hoja9,#hoja10,#intro{
height:100dvh;
min-height:100vh;
}

.imagen-full{
width:100%;
height:100%;
object-fit:cover;
}

.flecha{
position:absolute;
bottom:5vh;
left:50%;
transform:translateX(-50%);
font-size:42px;
color:#2c5c5c;
cursor:pointer;
animation:subir 1.2s infinite;
}

.lateral{
top:50%;
font-size:55px;
animation:none;
transform:translateY(-50%);
}

.izquierda{left:20px;}
.derecha{right:20px;left:auto;}

.btn-maps{
position:absolute;
bottom:25%;
left:50%;
transform:translateX(-50%);
background:#2c5c5c;
color:white;
padding:14px 28px;
border-radius:30px;
text-decoration:none;
z-index:20;
}

.hidden{
display:none;
opacity:0;
}

@keyframes subir{
0%{transform:translate(-50%,0)}
50%{transform:translate(-50%,-10px)}
100%{transform:translate(-50%,0)}
}

/* BOTONES */
#btnMusica{
position:fixed;
top:15px;
right:15px;
z-index:999;
background:#2c5c5c;
color:white;
border:none;
padding:10px;
border-radius:20px;
}

.btn-whatsapp{
position:fixed;
bottom:20px;
right:20px;
background:#25D366;
width:55px;
height:55px;
border-radius:50%;
display:flex;
justify-content:center;
align-items:center;
color:white;
text-decoration:none;
font-size:26px;
z-index:999;
}
